@import './article.scss';
@import './year-month-articles.scss';
@import './entry/entry.scss';
@import './global-header.scss';

body {
  color: #191919;
  background-color: #fbf7f0;
}

a {
  color: #333333;

  &:hover {
    color: #000000;
  }
}

.layout-body {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}
