.article {
  display: block;
  text-decoration: none;

  & + .article {
    margin-top: 2rem;
  }

  .article__title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.4;
    text-decoration: underline;
    margin: 0.4rem 0;
  }

  .article__date {
    color: #666666;
    line-height: 1.2;
    margin: 0;
  }

  .article__description {
    line-height: 1.2;
    margin: 0;
  }
}
